/* .app__page-container{} */
.app__page-top {
  max-width: 1400px;
  padding: 25px 50px 0 50px;
  margin: 0 auto;
}
.app__page-interior {
  max-width: 1400px;
  padding: 0 50px 0 50px;
  margin: 0 auto;
}
.app__page-bottom {
  max-width: 1400px;
  padding: 75px 50px 100px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .app__page-top,
  .app__page {
    padding: 25px 25px 0;
  }
}
