.contacts {
  padding: 100px 0 100px 0;
}
.contacts__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* .contacts__header {}
.contacts__title {} */
.contacts__title_underline {
  text-decoration: underline;
}
.contacts__columns {
  display: flex;
  justify-content: center;
}
.contacts__column {
  display: flex;
  flex-direction: column;
}
.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacts__list-item {
  display: flex;
  align-items: center;
}
/* .contacts__text {} */
.contacts__image {
  margin-right: 25px;
  width: 10%;
  height: 10%;
}

/* .contacts__title {}
.contacts__info {}
.contacts__text-hours {} */

@media screen and (max-width: 850px) {
  .contacts__title {
    display: flex;
    justify-content: center;
  }
  .contacts__columns {
    flex-direction: column;
    align-items: center;
  }
  .contacts__list-item {
    flex-direction: column;
  }
  .contacts__image {
    margin: 0;
  }
}
